@font-face {
    font-family: 'zabras';
    src: url('fonts/Zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url("img/desert-1052092_1920.jpg");
    background-size: cover;
    height: 100vh;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    a {
        color: goldenrod;
        text-decoration: underline;
    }
    a:hover {
        color: rgba(218, 165, 32, 0.6);
    }
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

p,h2,h3 {
    letter-spacing: 3px;
    font-size: 24px !important;
}

.d-none {
    display: none !important;
}

.canvasCONT {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuButtons {
    position: absolute;
    bottom: 20vh;
    max-width: 720px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    button {
        height: 30px;
        background-color: rgb(230, 230, 73);
        border-radius: 14px;
        border: 2px solid blue;
        padding: 15px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'zabras';
        font-size: 20px;
        letter-spacing: 1px;
    }
    button:hover {
        cursor: pointer;
        background-color: rgba(230, 230, 73, 0.7);
    }
}

#canvas1 {
    position: absolute;
    background-color: black;
    background-image: url("img/9_intro_outro_screens/start/startscreen_1.png");
    background-position: center;
    background-size: 100% 100%;
    display: block;
}

#canvas {
    background-color: black;
    display: block;
}

.game-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 440px;
    width: 670px;
    margin-bottom: 40px;
    button {
        position: absolute;
        width: 40px;
        height: 30px;
    }
}
.actionBtns {
    width: 50px; /* 40 */
    height: 43px; /* 33 */
    display: flex;
}
.panel1 {
    position: relative;
    bottom: -50px;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: end;
}
.panel2 {
    position: relative;
    bottom: -25px; /* -50px */
    left: 0;
    right: 0;
    /* top: 180px; */
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#btnRight {
    left: 45px;
}
#btnThrow {
    right:  55px;
}

#turn-device{
    position: absolute;
    z-index: 1;
    border: 2px solid rgba(128, 32, 0, 0.8);
    color: rgba(128, 32, 0, 0.8);
    font-size: 32px;
    background-color: rgb(248, 227, 190);
    padding: 8px;
    border-radius: 8px;
}

.description-container {
    position: absolute;
    height: 460px;
    width: 720px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    h2 {
        font-size: 40px !important;
        position: absolute;
        top: 0;
        display: flex;
        align-items: start !important;
    }
    h3 {
        font-size: 24px;
        display: flex;
        align-items: start !important;
        text-decoration: underline;
    }
    p {
        font-size: 16px;
        font-weight: 700;
    }
}

.collum {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
}

.linkSection {
    width: 50%;
}

#startButtonMobile {
    position: absolute;
    height: 30px;
    width: 150px;
    background-color: rgb(230, 230, 73);
    border-radius: 14px;
    border: 2px solid blue;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 760px){
    canvas {
        width: 100%;
    }
    .overlay {
        display: block;
    }
}

@media only screen and (max-height: 480px){
    canvas {
        height: 100vh;
    }
    h1 {
        display: none;
    }
    .menuButtons {
        bottom: 10vh;
    }
    .game-container {
        height: 100%;
        width: 90%;
        margin-bottom: 70px;
    }
    .description-container {
        height: 100%;
    }

    p {
        font-size: 16px !important;
    }

    .menuButtons {
        buttons {
            font-size: 16px;
        }
    }
}